* {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.35;
}

.container {
  max-width: 800px;
  margin: 24px auto;
}

.header {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 24px;
}

.header h1 {
  font-size: 48px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  line-height: 1;
}

.header h2 {
  font-size: 18px;
}

.proposal {
  text-align: center;
}

.proposal h3 {
  font-size: 24px;
  margin: 18px auto;
  color: #0052CC;
}

.proposal img.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
}

.proposal .video {
  max-width: 800px;
  width: 100%;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  margin-bottom: 18px;
  overflow: hidden;
}

.proposal img.thumbnail:hover {
  box-shadow: 2px 2px 5px #888;
}

.proposal .thumbnail-tips {
  color: #888;
  font-size: 12px;
  margin-top: 18px;
}

.proposal .divider {
  font-size: 120px;
  color: #eeeeee;
  margin: -24px auto;
}
